<!DOCTYPE html>
<html>
    <head>
        <title>LPR Application</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </head>
<body class="container center">
    <br>
    <h1 class="text-center">License Plate Recognition Application</h1>
    <br>
    <div class="row">
        <div class="justify-content-center mx-auto col-10">
            <h3>Register New Driver</h3>
            <form action="/registered" method="post">
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Enter first name (EX: Bob)" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Enter last name (EX: Smith)" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter email (EX: example@gmail.com)">
                </div>
                <br>
                <div class="form-group">
                    <label for="phone">Phone Number:</label>
                    <input type="tel" class="form-control" name="phone" id="phone" placeholder="Enter phone number (EX: 9999999999)" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="birthday">Date of Birth:</label>
                    <input type="date" class="form-control" name="birthday" id="birthday" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="state">License Plate State:</label>
                    <input type="text" class="form-control" name="state" id="state" placeholder="Enter license plate state (EX: Oregon)" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="licensePlate">License Plate:</label>
                    <input type="text" class="form-control" name="licensePlate" id="licensePlate" placeholder="Enter license plate (EX: 123ABC)" required>
                </div>
                <br>
                <div class="text-center">
                    <button type="reset" onClick="window.location.href = '/';" class="btn btn-secondary">Back</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>